
<p> Distance between two locations is
<%= @distance %> miles
 </p>
<p> lat of the middle point is
<%= @lat_middle %>
 </p>
<p> lng of the middle point is
<%= @lng_middle %>
 </p>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDazU0gvbBdl2aKSaBUMNHkqG6uVLYW7jI&q=loc:<%= @lat_middle%>+<%= @lng_middle %>" allowfullscreen>
</iframe>

