<div class="jumbotron" id="otherpages">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <img id="logo" src="<%= asset_path("logo") %>">
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>


<p> Lat of your location is: <%= @lat %> </p>
<p> Lng of your location is: <%= @lng %> </p>

<iframe
  width="600"
  height="300"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDazU0gvbBdl2aKSaBUMNHkqG6uVLYW7jI&q=loc:<%= @lat%>+<%= @lng %>" allowfullscreen>
</iframe>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1>Available Couriers For Your Request</h1>
    <% @results.each do |result| %>
    <h4><%= result.id%> Longitude:   <%= @lng%> Latitude:    <%=  @lat %>
      Start Date:   <%= result.start_date %> End Date:   <%= result.end_date %> <%= button_to "Select" %>
    </h4>
    <% end %>
  </div>
</div>
<div id="invisible"><%= form_for @pakket_hub_request, url: {controller: :requests, action: :create} do |request_form| %>
  <%= request_form.text_field :radius %>
  <%= request_form.date_field :start_date %>
  <%= request_form.date_field :end_date %>
  <%= request_form.text_field :beneficiary_id %>
  <%= request_form.text_field :requestor_id %>
  <br>
  <%= request_form.fields_for :location, @pakket_hub_request.location || Location.new do |location_form| %>
    <%= location_form.text_field :latitude %>
    <%= location_form.text_field :longitude %>
  <% end %></div>
  <br>
  <i id="submit"><%= request_form.submit %></i>
<% end %>

<div class="row">
<div class="col-md-6">
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
<div>
  <div>
    <div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div>
      <p>Copyright &copy; 2016, All rights Reserved</p>
    </div>
    <br>
    <br>
  </div>

</div>
</footer>
