<div class="jumbotron" id="otherpages">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <img id="logo" src="<%= asset_path("logo") %>">
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h2>Available Couriers For Your Request</h2>
    <% @results.each do |result| %>
    <p>Longitude <%= result.location.longitude %> Latitude <%= result.location.latitude %>
      Start Date <%= result.start_date %> End Date <%= result.end_date %>
    </p>
    <% end %>
  </div>
</div>
<div id="invisible"><%= form_for @pakket_hub_request, url: {controller: :requests, action: :create} do |request_form| %>
  <%= request_form.text_field :radius %>
  <%= request_form.date_field :start_date %>
  <%= request_form.date_field :end_date %>
  <%= request_form.text_field :beneficiary_id %>
  <%= request_form.text_field :requestor_id %>
  <br>
  <%= request_form.fields_for :location, @pakket_hub_request.location || Location.new do |location_form| %>
    <%= location_form.text_field :latitude %>
    <%= location_form.text_field :longitude %>
  <% end %></div>
  <%= request_form.submit %>
<% end %>

<% button_to "Save Request",  %>

<div class="row">
<div class="col-md-6">
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer>
<div>
  <div>
    <div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div>
      <p>Copyright &copy; 2016, All rights Reserved</p>
    </div>
    <br>
    <br>
  </div>

</div>
</footer>
