
<div class="jumbotron" id="otherpages">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <img id="logo" src="<%= asset_path("logo") %>">
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h2>Begin Request</h2>

    <% @radius = 1 %>
    <% @start_date = params[:date] if params[:date]%>
    <% @end_date = params[:date] if params[:date]%>
    <% @address = params[:address] if params[:address]%>

    <%= form_for @request, url: {controller: :travel_plans, action: :search} do |request_form| %>
      <%= request_form.label :radius %>
      <%= request_form.text_field :radius, value: @radius %>
      <%= request_form.label :start_date %>
      <%= request_form.date_field :start_date, value: @start_date.try(:to_date) %>
      <%= request_form.label :end_date %>
      <%= request_form.date_field :end_date, value: @end_date.try(:to_date)  %>
      <br>
      <%= request_form.fields_for :location, @request.location || Location.new do |location_form| %>
      <div id="hide_me">  <%= location_form.label :latitude %>
        <%= location_form.text_field :latitude %>
        <%= location_form.label :longitude %>
        <%= location_form.text_field :longitude %> </div>
        <%= location_form.label :address %>
        <%= location_form.text_field :address, value: @address%>
      <% end %>
      <%= request_form.submit %>
    <% end %>

  </div>
  </div>

    <div class="row">
      <div class="col-md-6"></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer>
    <div>
      <div>
        <div>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div>
          <p>Copyright &copy; 2016, All rights Reserved</p>
        </div>
        <br>
        <br>
      </div>

    </div>
  </footer>
